<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excel.mapper.CustomerBillGenerationConditionsMapper">

    <sql id="insertCustomerBillGenerationConditionse">
        billGenerationConditionName,descriptionBillGenerationConditions, socialSecurity_fee,
        medicalInsurance_costs,workInjury_expenses, providentFund_fee,
        commercialInsurance_costs,salary_costs, union_fees,
        disabilityInsurance_fee,charges,serviceCharge,
        taxFiling_fee,vehicleRental_fee,oneTime_fee,
        otherCosts,customer_abbreviation
    </sql>

    <insert id="insertCustomerBillGenerationConditions" keyProperty="id">
        insert into customerbill_generationconditions (<include refid="insertCustomerBillGenerationConditionse"></include>)
        values(
        #{billGenerationConditionName}, #{descriptionBillGenerationConditions}, #{socialSecurityFee},
        #{medicalInsuranceCosts}, #{workInjuryExpenses}, #{providentFundFee},
        #{commercialInsuranceCosts}, #{salaryCosts},#{unionFees},
        #{disabilityInsuranceFee}, #{charges},#{serviceCharge},
        #{taxFilingFee}, #{vehicleRentalFee},#{oneTimeFee},
        #{otherCosts}, #{customerAbbreviation}

        )
    </insert>
    <select id="selectCustomerAbbreviationByBillGenerationConditionName"
            resultType="com.example.excel.entity.CustomerBillGenerationConditions">
        select customer_abbreviation from customerbill_generationconditions
        where billGenerationConditionName = #{billGenerationConditionName}
    </select>

</mapper>
