<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excel.mapper.CustomerSettlementUnitMapper">


    <sql id="insertCustomerSettlementUnits">
        axpayer_identification_number,contact_name,contact_email,
        amount_payment,incoming_invoice,remarks,
        customer_limit,client_balance,advance_cycle,
        customer_abbreviation,clearing_unit_number,settlement_unit_name
    </sql>


    <insert id="insertCustomerSettlementUnit" keyProperty="id">
        insert into customer_settlement_unit (<include refid="insertCustomerSettlementUnits"></include>)
        values(
        #{axpayerIdentificationNumber}, #{contactName}, #{contactEmail},
        #{amountPayment}, #{incomingInvoice}, #{remarks},
        #{customerLimit}, #{clientBalance},#{advanceCycle},
        #{customerAbbreviation}, #{clearingUnitNumber},#{settlementUnitName}
        )
    </insert>

</mapper>
