<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excel.mapper.ServiceAgreementItemsMapper">


    <sql id="insertServiceAgreementItemsMapper">
        serviceAgreement_name,serviceProducts, serviceItems,
        servicePackage,negotiatedPrice, chargingMethod,
        accountingType
    </sql>

    <insert id="insertServiceAgreementItems"  keyProperty="id">
        insert into serviceagreement_items (<include refid="insertServiceAgreementItemsMapper"></include>)
        values(
               #{serviceAgreementName}, #{serviceProducts}, #{serviceItems},
               #{servicePackage}, #{negotiatedPrice}, #{chargingMethod},
               #{accountingType}
               )
    </insert>

</mapper>
