<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excel.mapper.SubCustomerInformationMapper">


    <sql id="insertSubCustomerInformations">
        subcustomer_number,subcustomer_name,subcustomer_abbreviation,
        customer_abbreviation,customer_number,remarks
    </sql>

    <insert id="insertSubCustomerInformation" keyProperty="id">
        insert into subcustomer_information (<include refid="insertSubCustomerInformations"></include>)
        values(
        #{subcustomerNumber}, #{subcustomerName}, #{subcustomerAbbreviation},
        #{customerAbbreviation}, #{customerNumber}, #{remarks}
        )
    </insert>
    <delete id="deleteSubCustomerInformation">
        delete from subcustomer_information
    </delete>

    <select id="selectSubCustomerInformationBycustomerAbbreviation"
            resultType="com.example.excel.entity.SubCustomerInformation">
        select distinct customer_abbreviation,customer_number from subcustomer_information
        where subcustomer_abbreviation = #{subcustomerAbbreviation}
    </select>

    <select id="selectSubCustomerInformationBycustomerNumber"
            resultType="com.example.excel.entity.SubCustomerInformation">
        select Distinct customer_abbreviation,customer_number from subcustomer_information
        where subcustomer_number = #{subcustomerNumber}
    </select>


</mapper>

